@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #f4f4f4 !important;
  color: #333 !important;
}

:root {
  --primary-green: #4caf50;
  --dark-green: #388e3c;
  --light-grey: #f5f5f5;
}

.btn-success {
  background-color: var(--primary-green) !important;
  border-color: var(--dark-green) !important;
}

.btn-success:hover {
  background-color: var(--dark-green) !important;
}

.btn-outline-success {
  color: var(--primary-green) !important;
  border-color: var(--primary-green) !important;
}

.btn-outline-success:hover {
  background-color: var(--primary-green) !important;
  color: white !important;
}

html {
  height: 100%;
  margin: 0;
}

#content-wrap {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: 0;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
