@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #f4f4f4 !important;
    color: #333 !important;
  }