:root {
    --primary-green: #4CAF50;
    --dark-green: #388E3C;
    --light-grey: #f5f5f5;
}

.btn-success {
    background-color: var(--primary-green);
    border-color: var(--dark-green);
}

.btn-success:hover {
    background-color: var(--dark-green);
}

.btn-outline-success {
    color: var(--primary-green);
    border-color: var(--primary-green);
}

.btn-outline-success:hover {
    background-color: var(--primary-green);
    color: white;
}

html {
    height: 100%;
    margin: 0;
}
#content-wrap {
    flex: 1 0 auto;
}
#footer {
    flex-shrink: 0;
}
.flex-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}